<div id="svg-bgr">
<!-- Created with Inkscape (http://www.inkscape.org/) -->
<svg viewBox="0 0 150 60">
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-244.08332)">
    <path
       stroke="#ffd42a" fill="#fff"
       d="m 27.538198,251.07109 c -0.477187,0.34534 -0.654748,0.46508 -1.181259,0.90949 -2.588618,2.18497 -4.93211,4.64079 -7.280087,7.07556 -4.163283,4.47942 -8.037822,9.2161 -11.850478,13.99422 -0.6267318,0.83305 -1.2942533,1.64414 -1.8416212,2.53438 -0.067513,0.1098 -0.3389563,0.47808 -0.2361837,0.68613 0.061878,0.12527 0.1948156,0.20033 0.2922233,0.30049 0.2526868,0.1691 0.499818,0.3468 0.7580603,0.50728 0.8489307,0.52755 2.0124806,1.16934 2.8540723,1.64935 2.015695,1.14966 4.026614,2.30777 6.040913,3.45989 2.830234,1.61008 5.58909,3.34514 8.234638,5.24436 1.272884,0.91379 1.889638,1.40395 3.100914,2.33723 1.262105,0.9595 2.487949,1.96361 3.687588,2.99963 0,0 -1.610344,0.99758 -1.610344,0.99758 v 0 c -1.128078,-1.0766 -2.28474,-2.12246 -3.497201,-3.10418 -1.253478,-1.01746 -1.679381,-1.38553 -3.023154,-2.37589 -2.615529,-1.92765 -5.371754,-3.65466 -8.203083,-5.24627 -2.03349,-1.14663 -4.0627468,-2.30254 -6.1211858,-3.40417 -0.9938737,-0.5319 -2.0082073,-1.02557 -2.9944946,-1.57142 -0.2879961,-0.15938 -0.5658377,-0.33646 -0.8487564,-0.50469 -0.129768,-0.13807 -0.3042086,-0.24491 -0.3893047,-0.41421 -0.1457939,-0.29005 0.1194618,-0.61614 0.2514161,-0.81811 0.6057074,-0.92709 1.3449646,-1.76083 2.0262776,-2.63017 3.9684282,-4.74725 7.9143138,-9.51735 12.0729178,-14.10061 1.962531,-2.08542 2.301624,-2.48262 4.233823,-4.40669 1.078851,-1.07431 2.177005,-2.16901 3.359463,-3.1335 0.11006,-0.0898 0.229593,-0.16726 0.34439,-0.25089 0,0 1.820456,-0.73479 1.820456,-0.73479"/>
    <path
       stroke="#ffd42a" fill="#fff"
       d="m 120.50858,250.39592 c 1.20753,1.57944 2.36906,3.19649 3.52671,4.81322 1.98321,2.81873 3.75099,5.77928 5.58278,8.69613 1.47782,2.35318 1.49713,2.35373 3.00658,4.6361 2.07255,3.0554 4.22855,6.05281 6.40665,9.03344 0.45803,0.63526 0.4801,0.65753 0.88603,1.2478 0.12837,0.18666 0.52722,0.66305 0.49511,0.92889 -0.0112,0.0926 -0.0754,0.17053 -0.11313,0.25579 -1.08374,0.8626 -2.32003,1.26321 -3.52392,1.86305 -0.38025,0.18946 -0.75549,0.38894 -1.1296,0.59026 -0.0397,0.0213 0.16295,-0.0752 0.12562,-0.05 -0.50921,0.3444 -1.02912,0.67272 -1.54367,1.00908 -3.20821,2.21907 -6.13467,4.80447 -9.03703,7.4012 -1.0384,0.93535 -2.05759,1.89262 -3.12342,2.79698 0,0 -1.77075,0.71357 -1.77075,0.71357 v 0 c 1.14123,-0.9143 2.2204,-1.90213 3.31733,-2.86838 2.93202,-2.58134 5.85864,-5.18266 9.05736,-7.43517 0.50069,-0.3338 0.98928,-0.6865 1.50206,-1.00141 1.40925,-0.86542 2.60326,-1.57022 4.02016,-2.28542 0.30507,-0.15399 0.61619,-0.2957 0.92468,-0.44272 0.21591,-0.1029 0.83638,-0.45509 0.64853,-0.30704 -0.38693,0.30493 -0.83542,0.52234 -1.25313,0.78352 0.0582,-0.0401 0.13937,-0.0589 0.17452,-0.12018 0.0836,-0.14573 -0.10622,-0.40252 -0.15082,-0.48245 -0.323,-0.57893 -0.68821,-1.13352 -1.05086,-1.68787 -2.03778,-3.07209 -4.13694,-6.10281 -6.17453,-9.17506 -1.65628,-2.54919 -1.33308,-2.03356 -2.9856,-4.65226 -1.83747,-2.91176 -3.65672,-5.84088 -5.72348,-8.59874 -1.21209,-1.5773 -2.4213,-3.17186 -3.76976,-4.63556 0,0 1.67558,-1.02679 1.67558,-1.02679"/>
    <path
       stroke="#ffd42a" fill="#fff"
       d="m 119.31191,254.85793 c -1.49303,2.42691 -2.68819,5.02376 -3.91384,7.59157 -2.98562,6.31681 -5.67945,12.76533 -8.43782,19.18305 -1.35728,3.13075 -2.68991,6.27269 -4.11271,9.3745 0,0 -1.70093,0.77075 -1.70093,0.77075 v 0 c 1.64382,-3.12811 3.093,-6.35374 4.55674,-9.56853 2.79764,-6.34831 5.44395,-12.76159 8.25564,-19.10371 1.13482,-2.51149 2.25872,-5.03284 3.57423,-7.45666 0,0 1.77869,-0.79097 1.77869,-0.79097"/>
    <text><tspan
         sodipodi:role="line"
         id="tspan86"
         x="26.139584"
         y="275.83331"
         style="font-size:22.57777786px;fill:#141823;stroke-width:0.26458332;font-family:'Covered By Your Grace'"
         rotate="11.000037 0">b</tspan></text>
    <text><tspan
         sodipodi:role="line"
         id="tspan72"
         x="39.633331"
         y="274.11356"
         style="font-size:22.57777786px;fill:#141823;stroke-width:0.26458332;font-family:'Covered By Your Grace'"
         rotate="348.09995 0">o</tspan></text>
    <text><tspan
         sodipodi:role="line"
         id="tspan76"
         x="51.671875"
         y="280.19894"
         style="font-size:22.57777786px;fill:#141823;stroke-width:0.26458332;font-family:'Covered By Your Grace'"
         rotate="342.3999 0">o</tspan></text>
    <text><tspan
         sodipodi:role="line"
         id="tspan80"
         x="59.609375"
         y="274.37811"
         style="font-size:22.57777786px;fill:#141823;stroke-width:0.26458332;font-family:'Covered By Your Grace'"
         rotate="14.800054 0">y</tspan></text>
    <text><tspan
         sodipodi:role="line"
         id="tspan84"
         x="71.515625"
         y="280.33124"
         style="font-size:22.57777786px;fill:#141823;stroke-width:0.26458332;font-family:'Covered By Your Grace'"
>a</tspan></text>
    <text><tspan
         sodipodi:role="line"
         id="tspan88"
         x="82.892708"
         y="277.02393"
         style="font-size:22.57777786px;fill:#141823;stroke-width:0.26458332;font-family:'Covered By Your Grace'"
         rotate="346.89996 0">h</tspan></text>
    <text><tspan
         sodipodi:role="line"
         id="tspan92"
         x="94.666664"
         y="274.6427"
                  style="font-size:22.57777786px;fill:#141823;stroke-width:0.26458332;font-family:'Covered By Your Grace'"
>!</tspan></text>
  </g>
</svg>
</div>