<div class="about code">
    <div class="about__inner">
        <span class="brackets"><a href="https://github.com/patmaz" target="_blank">github</a></span>
        <span class="brackets"><a href="https://www.linkedin.com/in/patmazurkiewicz" target="_blank">linkedin</a></span>
    </div>
</div>
<div id="iss">
    <h2>server-sent events</h2>
    <p>Current position of<br> International Space Station is:<br>
        latitude: <span id="lat">...</span><br>
        longitude: <span id="long">...</span><br>
        according to <a href="http://open-notify.org/Open-Notify-API/" target="_blank">open notify</a>
    </p>
    <p><span id="no">...</span> user(s) online</p>
    <p>server uptime: <span id="uptime">...</span> sec</p>
</div>
<script src="https://cdn.polyfill.io/v2/polyfill.js?features=fetch"></script>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./static/js/app.js"></script>
<script src="./static/js/script.js"></script>