<div class="about code">
    <div class="about__inner">
        <span class="brackets"><a href="https://github.com/patmaz" target="_blank">github</a></span>
        <span class="brackets"><a href="https://www.linkedin.com/in/patmazurkiewicz" target="_blank">linkedin</a></span>
    </div>
</div>
<script src="https://cdn.polyfill.io/v2/polyfill.js?features=fetch"></script>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="./static/js/app.js"></script>
<script src="./static/js/script.js"></script>