@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.github-search {
    h2 {
        text-align: center;
        margin-bottom: 15px;
    }

    label {
        display: block;
        text-align: center;
        font-size: 10px;
    }

    input {
        display: block;
        margin: 5px auto;
        border: none;
        border-top: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
        width: 120px;
        display: block;
        outline: none;
        transition: all 1s;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: $primary-color;
        padding: 10px;

        &:focus {
            width: 200px;
            border-top: 1px solid $extra-color;
            border-bottom: 1px solid $extra-color;
        }
    }

    &__list {
        margin: 30px 15px;
    }

    &__list-item {
        border-bottom: 1px solid lighten( $primary-color, 80% );
        padding: 15px;

        &:hover {
            background-color: lighten( $primary-color, 85% );
        }

        p {
            font-size: 12px;
            margin: 15px 0 0;
        }
    }

    .zero-result {
        color: #af2525;
        margin-top: 30px;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
        margin: 15px auto;
    }
}