<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <form method="post" action="/mongoadd">
        title: <input type="text" id="title" name="title" /><br />
        body: <textarea type="text" id="body" name="body" /></textarea><br />
        <input type="submit" value="submit" />
    </form>
<% include ./partials/footer %>
</body>
</html>