@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  70% {
    transform: scale3d(1, 1, 1);
  }

  90% {
    transform: scale3d(1.25, 0.75, 1);
  }

  94% {
    transform: scale3d(0.75, 1.25, 1);
  }

  96% {
    transform: scale3d(1.15, 0.85, 1);
  }

  98% {
    transform: scale3d(.95, 1.05, 1);
  }

  99% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes click-anim {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }
  20% {
    opacity: 0.5;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}