@import './basic/reset.scss';
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Roboto+Mono:300|Roboto:300,300i');

$primary-color: #141823;
$extra-color: #e48a28;

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: $primary-color;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: $extra-color;
    &:hover {
        text-decoration: underline;
    }
}

p {
    margin: 15px 0;
}

textarea {
    resize: none;
}

#app {
    padding: 15px;
}

#intro {
    text-align: center;

    li {
        margin: 15px 0;
    }
}

.about {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: -100%;
    background-color: red;
    transition: all 0.5s;
    background-color: rgba(132, 132, 132, 0.97);

    &.show {
        bottom: 0;
    }

    &:before {
        content: '< about />';
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -10px;
        font-size: 10px;
        cursor: pointer;
    }

    &:after {
        content: '< close />';
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 5px;
        font-size: 10px;
        cursor: pointer;
    }

    &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;

        a {
            display: block;
            text-align: center;
            margin: 10px 0;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.brackets {
    display: block;
    position: relative;
    padding: 0 30px;
    &:before {
        content: "<";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: all 0.6s;
    }

    &:after {
        content: "/>";
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        transition: all 1s;
    }

    &:hover{
        &:before{
            opacity: 1;
            left: -20px;
        }

        &:after {
            opacity: 1;
            right: -30px;
        }
    }
}

.code {
    font-family: 'Roboto Mono', monospace;
}

.booyah {
    font-family: 'Covered By Your Grace', cursive;
}

#header {
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    .booyah {
        color: $extra-color;
        display: block;
        margin-top: -15px;
        margin-right: -12px;
        font-size: 50px;
    }
}

@import './components/comp-gif-search.scss';
@import './components/comp-chat.scss';
@import './components/comp-guthub-search.scss';